.wd-community-main {
    display: flex;
    margin: 2pc;
    justify-content: space-between;
    align-items: top;

}

.wd-message-profile-picture {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid rgb(130, 130, 130);
    border-radius: 50%;
    overflow: hidden;
}

.wd-message-profile-picture-container {
    margin: 5px;
    margin-right: 5px;
}