.wd-main-page {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	overflow-x: hidden;
}

.wd-button {
	background-color: #2eabc3;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 1pc;
	padding-left: 10px;
	padding-right: 10px;
}

.wd-button:hover {
	background-color: #369fb5;
}