.wd-header-container {
    display: flex;
    justify-content: space-between;
    float:right;
}

.wd-header-left {
    display: flex;
}

.wd-header-right {
    display: flex;
}

.wd-header-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}